/* Tag Rules */

h1 {
    text-align: center;
    margin-bottom: .5em;
}

/* --------------------------- */

/* Class Rules */

.navbar {
    margin-bottom: 1rem;
}

.flex-container-a {
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    margin: 1em;
    list-style: none;
  }
  
  .flex-item-a {
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
    text-align: justify;
  }
  


/* ------------------------------ */

  /* Media Queries */

  /* Large Screens*/
  .flex-container-a {
    display: flex;
    flex-flow: row;
  
  }
  
  /* Medium screens */
  @media all and (max-width: 768px) {
    .flex-container-a {
        flex-flow: row wrap;
        justify-content: left;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 576px) {
    .flex-container-a {
      flex-direction: column;
    }
  }